.Lines  {
    font-family: Helvetica, sans-serif;
    font-size: 6.0px;
    text-align: start;
    line-height: 7.0px;
}
.LeftLines {
    font-family: Helvetica, sans-serif;
    font-size: 15.0px;
    text-align: start;
    line-height: 15.0px;
}
.BoldLeftLines {
    font-family: Helvetica-Bold, sans-serif, bold;
    font-size: 15.0px;
    text-align: start;
    line-height: 15.0px;
}
.RightLines {
    font-family: Helvetica, sans-serif;
    font-size: 15.0px;
    text-align: end;
    line-height: 15.0px;
}
.BoldRightLines {
    font-family: Helvetica-Bold, sans-serif, bold;
    font-size: 15.0px;
    text-align: end;
}
.BigLines {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
}
.HugeLines {
    font-family: Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
}
.WhiteSpace {
    height: 40px;
}
.BigWhiteSpace {
    height: 40px;
}
